.App {
  display: flex;
  align-items: center;
  justify-content:center;
  height: 100vh;
  width: 100vw;
}
/*///////////////////////////////////////////////////*/
.card-style {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background: #C3F8FA ;
  height:auto ;
  width:450px;
}
/*///////////////////////////////////////*/
.container {
  padding-top: 2px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 2px;
}
.container-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  float: none;
 }
 /*////////////////////////////////////*/
.button-container {
  display: flex;
  margin-left: 50px;

}
.button-style {
  border-radius: 5px;
  height:41px;
  border: none;
  background: #4f5053;
  color:ivory;
}
.button-style:focus {
  outline:none;
}
.button-style:hover {
  background: #282c34;
}
/*//////////////////////////////////////////*/
.link-style {
  color: ivory;
}
.link-container {
  background:  #4f5053;
  border-radius: 5px;
  margin-right: 230px;
  margin-bottom: 15px;
  padding:10px;
}